body {
background-color: #5a6268;
animation: gradient 15s infinite alternate;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
100% {
  background-position: 100% 50%;
}
}

label {
color: #fff;
padding: 10px;
}

.form-label {
color: #fff;
}

hr {
background-color: #fff;
}

.container {
background-color: #373434;
margin-top: 10px;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: transform 0.2s ease-in-out;
}

.container:hover {
transform: scale(1.02);
}

.footer-container {
margin-top: 20px;
text-align: center;
}

.btn-primary {
background-color: #007bff;
border: none;
}

.btn-primary:hover {
background-color: #0056b3;
}

.btn-secondary {
background-color: #6c757d;
color: #fff;
border: none;
}

.btn-secondary:hover {
background-color: #5a6268;
}

.btn-danger {
background-color: #dc3545;
color: #fff;
border: none;
}

.btn-danger:hover {
background-color: #c82333;
}

.btn-success {
background-color: #28a745;
color: #fff;
border: none;
}

.btn-success:hover {
background-color: #218838;
}

#scan-progress {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1000;
}


h1, h2, h3, h4, h5, p, ol, li {
color: #17a2b8;
}

.table th,
.table td {
color: #fff;
text-align: center;
vertical-align: middle;
}

.remove-donor-form {
display: inline-block;
}

.remove-donor-form button {
background-color: #dc3545;
color: #fff;
}

.endpoint-list-items {
  padding: 5px;
}

.remove-donor-form button:hover {
background-color: #c82333;
}

.not-authorized {
color: #dc3545;
}

.footer {
text-align: center;
margin-top: 50px;
}