<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Home Page</title>
   <link rel="stylesheet" href="/static/styles.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" />
   <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
   <link rel="icon" href="static/favicon.ico" type="image/x-icon">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
   <style>
      hr {
         border: 1px solid white;
      }
      </style>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
      body {
         font-family: 'Montserrat', sans-serif;
         background-color: #5a6268;
      }
   </style>
</head>

<body>

   {% if current_user.is_authenticated %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="{{ url_for('home') }}">Baptist Church Dilsukhnagar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" href="{{ url_for('add_fund_page') }}">Add Fund</a>
               <a class="nav-link" href="{{ url_for('display_donors') }}">Display Donors</a>
               <a class="nav-link" href="{{ url_for('verify_receipts') }}">Verify Receipts</a>
               <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
         </div>
      </div>
   </nav>
   {% else %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="{{ url_for('home') }}">Baptist Church Dilsukhnagar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </div>
         </div>
      </div>
   </nav>
   <div class="container">
      <h1 class="mb-4">Home Page</h1>
      <p>Welcome to the Church Page!</p>
      <p>Please login to access the full site. </p>
      <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
      <a href="{{ url_for('create_account') }}" class="btn btn-primary">Register</a>
   </div>
   {% endif %}
    <hr />
    {% if events=='' %}
    <div class="container">
        <h1 class="mb-4">Events</h1>
        <p>There are no events at the moment. Please check back later.</p>
    </div>
    {% else %}
    <div class="container">
        <h1 class="mb-4">Events</h1>
        <p>Here are all the upcoming events: </p>

         <table class="table table-striped">
               <thead>
                  <tr>
                     <th scope="col">Event Name</th>
                     <th scope="col">Date</th>
                     <th scope="col">Description</th>
                  </tr>
               </thead>
               <tbody>
                  {% for event in events %}
                  <tr>
                     <td>{{ event['event_name'] }}</td>
                     <td>{{ event['event_date'] }}</td>
                     <td>{{ event['event_description'] }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
         </table>

    </div>
    {% endif %}

   <hr />
   <div class="footer">
      <p>Designed, Built by Bachu Esvin Joshua</p>
      <p>Website hosted on Render</p>
   </div>

</body>
</html>
