<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Home Page</title>
   <link rel="stylesheet" href="/static/styles.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" />
   <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
   <link rel="icon" href="static/favicon.ico" type="image/x-icon">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
   <style>
      hr {
         border: 1px solid white;
      }
   </style>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Mono&display=swap');

      body {
         font-family: 'Montserrat', sans-serif;
         background-color: #5a6268;
      }

      #per-inf {
         font-family: 'Nova Mono', sans-serif;
      }
   </style>
</head>

<body>

   {% if current_user.is_authenticated %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="{{ url_for('home') }}">Baptist Church Dilsukhnagar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" href="{{ url_for('add_fund_page') }}">Add Fund</a>
               <a class="nav-link" href="{{ url_for('display_donors') }}">Display Donors</a>
               <a class="nav-link" href="{{ url_for('verify_receipts') }}">Verify Receipts</a>
               <a class="nav-link" href="{{ url_for('events') }}">View Events</a>
               <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
         </div>
      </div>
   </nav>
   {% else %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="{{ url_for('home') }}">Baptist Church Dilsukhnagar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </div>
         </div>
   </nav>
   <div class="container">
      <h1 class="mb-4 centered-text-element">Home Page</h1>
      <p class="centered-text-element">Welcome to the Church Page!</p>
      <p class="centered-text-element">Please login before you can access the full site. </p>
      <p class="centered-text-element">If you do not have an account, please register.</p>
      <a href="{{ url_for('register') }}" class="btn btn-primary centered-btn">Register</a>
      <a href="{{ url_for('login') }}" class="btn btn-primary centered-btn">Login</a>
   </div>
   {% endif %}
   <div class="container mt-4">

      <h2 class="centered-text-element">About</h2>
      <p class="centered-text-element">Church info</p>

      <hr />

      <h2 class="centered-text-element">Sermons</h2>
      <p class="centered-text-element">sermon info</p>
      <hr />

      <h2 class="centered-text-element">Donations & Offerings</h2>
      <p class="centered-text-element">Donations and offerings can be made in person at the church or online.</p>
      <p class="centered-text-element">Click the button below to navigate to the page.</p>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('add_fund_page') }}" class="btn btn-primary centered-btn">Add Fund</a>
      {% else %}
      <a href="{{ url_for('login') }}" class="btn btn-primary centered-btn">Login</a>
      {% endif %}

      <hr />

      <!-- <div class="row">
         <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide">
               <div class="carousel-indicators">
                 <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                 <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                 <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
               </div>
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
                   <div class="carousel-caption d-none d-md-block">
                     <h5>Rev. Dr. Boda Solomon</h5>
                     <p>Senior Pastor</p>
                   </div>
                 </div>
                 <div class="carousel-item">
                   <img src="https://images.unsplash.com/photo-1542567455-cd733f23fbb1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D" class="d-block w-100" alt="...">
                   <div class="carousel-caption d-none d-md-block">
                     <h5>Rev. Shaanth Kumar</h5>
                     <p>Associate Pastor</p>
                   </div>
                 </div>
                 <div class="carousel-item">
                   <img src="https://images.unsplash.com/photo-1488372759477-a7f4aa078cb6?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
                   <div class="carousel-caption d-none d-md-block">
                     <h5>Mr. Israel </h5>
                     <p>Some representative placeholder content for the third slide.</p>
                   </div>
                 </div>
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="visually-hidden">Next</span>
               </button>
             </div>   
         </div>
      </div> -->


      <h2 class="centered-text-element">Connect with us on Instagram</h2>
      <p class="centered-text-element">Follow our Instagram pages for the latest updates and events:</p>

      <a href="https://www.instagram.com/bcd_youthfellowship/" class="btn btn-primary centered-btn"
         style="margin-top: 5px;"><i class="fab fa-instagram"></i> Instagram</a>


      <h2 class="centered-text-element">Our YouTube Channel</h2>
      <p class="centered-text-element">Subscribe to our YouTube channel for all the sermons:</p>

      <a href="https://www.youtube.com/@baptistchurchdilsukhnagar" class="btn btn-primary centered-btn"
         style="margin-top: 5px;"><i class="fab fa-youtube"></i> YouTube</a>


      <hr />

   </div>

   <hr />
   <div class="footer" id="per-inf">
      <p>Designed, Built by Bachu Esvin Joshua</p>
      <p>Website hosted on Render</p>
   </div>

</body>

</html>