<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body {
       font-family: 'Montserrat', sans-serif;
       background-color: #5a6268;
    }
  </style>
  <script>
    function enableSubmitButton() {
      var submitButton = document.getElementById("submit-button");
      submitButton.disabled = false;
      submitButton.style.display = "inline-block";
    }

    function preventEnterSubmit(event) {
      if (event.key === "Enter") {
        if (submitButton.disabled) {
          alert("Please complete the reCAPTCHA.");
        }
        event.preventDefault();
        alert("Click the 'Login' button!");
      }
    }
  </script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Baptist Church Dilsukhnagar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
          <a class="nav-link" href="{{ url_for('add_fund_page') }}">Add Fund</a>
          <a class="nav-link" href="{{ url_for('display_donors') }}">Display Donors</a>
          <a class="nav-link" href="{{ url_for('verify_receipts') }}">Verify Receipts</a>
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('create_account') }}">Create User</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% if current_user.is_authenticated %}
  <div class="container">
    <h1 class="mb-4">Login</h1>
    <p>You are already logged in.</p>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
  </div>
  {% else %}
  <div class="container login-container">
    <h1 class="mb-4">Login</h1>
    <form action="{{ url_for('login') }}" method="POST"> 
      <!--  onkeydown="if(event.keyCode === 13) { 
      alert( 
            'You have pressed Enter key, use submit button instead');  
            return false; 
          }" REMOVE COMMENT TO PREVENT ENTER KEY PRESS!!-->
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <div class="g-recaptcha" data-sitekey="{{ grec_sitekey }}" data-callback="enableSubmitButton"></div>
      <br />
      <button type="submit" id="submit-button" class="btn btn-primary" style="display: none;">Login</button>
    </form>
  </div>
  {% endif %}
  
  <hr />
  <div class="footer">
     <p>Designed, Built by Bachu Esvin Joshua</p>
     <p>Website hosted on Render</p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
