<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Information</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        body {
           font-family: 'Montserrat', sans-serif;
        }
        #per-inf {
         font-family: 'Honk', system-ui;
      }
      </style>
</head>
<body style="background-color: #5a6268;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Baptist Church Dilsukhnagar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('add_fund_page') }}">Add Fund</a>
                <a class="nav-link" href="{{ url_for('display_donors') }}">Display Donors</a>
                <a class="nav-link" href="{{ url_for('verify_receipts') }}">Verify Receipts</a>
                <a class="nav-link" href="{{ url_for('events') }}">View Events</a>
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% if current_user.is_authenticated %}
<div class="container">
    <h1>User Information</h1>
    <h2>Update Additional Information</h2>

    <form action="{{ url_for('update_info') }}" method="post">

        <div class="mb-3">
            <label for="mem_type" class="form-label">Membership Type (Baptism, married into): </label>
            <input type="text" class="form-control" name="mem_type">
        </div>
        <div class="mb-3">
            <label for="membership_duration" class="form-label">Membership Duration:</label>
            <input type="text" class="form-control" name="membership_duration">
        </div>

        <div class="mb-3">
            <label for="marital_status" class="form-label">Marital Status:</label>
            <input type="text" class="form-control" name="marital_status">
        </div>

        <div class="mb-3">
            <label for="alternate_phone" class="form-label">Alternate Phone:</label>
            <input type="text" class="form-control" name="alternate_phone">
        </div>

        <button type="submit" class="btn btn-primary">Update Info</button>
    </form>
</div>
{% else %}
<div class="container">
    <h1>Home Page</h1>
    <p>Welcome to the Church App!</p>
    <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
</div>
{% endif %}
<hr />
<div class="footer" id="per-inf">
   <p>Designed, Built by Bachu Esvin Joshua</p>
   <p>Website hosted on Render</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
